Source: redis
Section: unknown
Priority: optional
Maintainer: YousefEZ <yousef@unknown>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 libboost-dev,
 g++
Standards-Version: 4.6.2
Homepage: https://github.com/YousefEZ/redis
#Vcs-Browser: https://salsa.debian.org/debian/redis
#Vcs-Git: https://salsa.debian.org/debian/redis.git

Package: redis
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: <insert up to 60 chars description>
 <Insert long description, indented with spaces.>
